<!DOCTYPE html>
<html>
<head>
	<title>New post page</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<div>
		<div class="top"> Create a new post !</div>
		<div>

			<form method="post">
				<div>
					<div class="heading">
						Title
					</div>
					<input class="box1" type="text" name="title">
					<div class="heading ">Content</div>
					<textarea class="box1 box2" name="content">
					</textarea>
					<input type="submit" name="">
				</div>
				
			</form>	
		</div>
	</div>
</body>
</html>